<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contrat RH</title>
</head>
<body>
    <h1>Contrat de travail</h1>
    <p>
        Ce contrat est établi entre <strong>{{ nom }}</strong>, pour le poste de <strong>{{ poste }}</strong>.<br>
        Type de contrat : {{ type_contrat }}<br>
        Date de début : {{ date_debut }}<br>
        Durée : {{ duree }}<br>
        Salaire mensuel : {{ salaire }} €<br>
        Adresse entreprise : {{ adresse }}
    </p>
</body>
</html>
